<div class="content">
    <div class="dashboard">
        <!-- Search bar-->
        <div class="input-group">
            <input id="search-input" placeholder="Search" type="search" />
            <button id="search-button" type="button" class="btn btn-primary">
                <i class="fa fa-search"></i>Search
            </button>
        </div>
        <!-- Search bar-->

        <div class="booksSlider">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick ext.</p>
                    <a href="#!" class="btn btn-primary addBookBtn">Add book</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card tqsdqdqsdqsdqsdqsdqsdqsdqsdsitle</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#!" class="btn btn-primary addBookBtn">Add book</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#!" class="btn btn-primary addBookBtn">Add book</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#!" class="btn btn-primary addBookBtn">Add book</a>
                </div>
            </div>
        </div>

    </div>

</div>