<div class="main">
  <nav class="navbar navbar-expand-lg navbar-dark fixed">
    <a class="navbar-brand" (click)="scrollTo('Home'); switchToHomeScreen()">Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" *ngIf="welcomeScreenOn" (click)="scrollTo('about-us-div')">About us</a>
        <a class="nav-item nav-link" *ngIf="welcomeScreenOn" (click)="scrollTo('contact-us-div')">Contact us</a>
        <a class=" nav-item nav-link" *ngIf="welcomeScreenOn" (click)="switchToSignIn()">Sign in</a>
        <a class=" nav-item nav-link showBtn" *ngIf="userDashboardOn">All books</a>
        <a class=" nav-item nav-link showBtn myBooksBtn" *ngIf="userDashboardOn">My books</a>
      </div>
    </div>
  </nav>
  <app-dashboard-user *ngIf="userDashboardOn"></app-dashboard-user>
  <app-welcome-screen *ngIf="welcomeScreenOn"></app-welcome-screen>
  <app-sign-in-screen *ngIf="signInScreenOn"></app-sign-in-screen>

</div>
<div class="footer">
  <!-- Footer -->
  <footer class="page-footer font-small blue">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a target="_blank" class="footerLink" href="https://www.fst.rnu.tn/">www.fst.rnu.tn</a>
      <a target="_blank" href="https://www.facebook.com/Facult%C3%A9-des-Sciences-de-Tunis-Officiel-102411231580440"><i
          class="fa fa-facebook"></i></a>
      <a target="_blank" href="https://www.linkedin.com/company/facult%C3%A9-des-sciences-de-tunis/"><i
          class="fa fa-linkedin"></i></a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>